@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<figure>
    <img src="~/Images/profilepic.PNG"
         alt="Ciaran dressed in a white tuxeudo"
         style="width:227px; margin-left:100px; caption-side:bottom;"/>
    <figcaption style="margin-left:155px; font-weight:bold;">
        <span>Ciaran Maguire</span>
    </figcaption>
</figure>

<p>This is Ciaran Maguire's website for ITP 245 - Building User Interfaces.</p>
<p> My name is Ciaran Maguire and I am a student at Reynolds Community College. I have always enjoyed
    using and understanding technology and thus am majoring in the computer programming program. Outside
    of schoolwork I spend my time outdoors. My favorite outdoor activities include primitive camping,
    hiking, fishing, and whitewater recreation. In my spare time while not on an outdoor adventure you
    will most likely catch me playing Dave Matthews Band meolodies on the acoustic guitar.</p>
